*{
    font-family: helevetic, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
.headers{
    display: flex;
    background-color: beige;
}
.logo{
    width: 50%;
    font-size: 32px;
    padding: 20px;
    font-weight: bold;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.menu li{
    cursor: pointer;
    font-variant: small-caps;
    font-weight: bold;
    color: steelblue;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}

.section1{
    width: 100%;
    height: 100vh;
    background-image: url("b3.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.section1 h1{
    color: steelblue;
    position: absolute;
    top: 30%;
    left: 10%;
    letter-spacing: 2px;
}
.section1 h2{
    font-size: 26px;
    position: absolute;
    left: 10%;
    top: 38%;
    color: gray;
    letter-spacing: 2px;
}
.section1 p{
    font-size: 16px;
    position: absolute;
    left: 10%;
    top: 50%;
    width: 50%;
    color: grey;
    line-height: 20px;
    letter-spacing: 2px;
}
.section1 a{
    font-size: 20px;
    position: absolute;
    left: 10%;
    top: 65%;
    color: steelblue;
    letter-spacing: 2px;
}

.section2{
    height: 80vh;
    display: flex;
    padding: 5%;
}
.about_images{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about_images img{
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    
}
.about{
    width: 50%;
    text-align: right;
}
.about p, .content p, .client p{
    font-size: 12px;
    color: gray;
    line-height:20px ;
    letter-spacing: 2px;
}
.about h1, .content h1, .section5 h1, .section6 h1{
    line-height: 40px;
    font-weight: 400;
}
.about h1 span, .section3 h1 span, .section5 h1 span, .section6 h1 span{
    font-size: 24px;
    color: steelblue;
}
.about a, .content a{
    font-size: 12px;
    color: steelblue;
    letter-spacing: 2px;
    display: block;
    margin-top: 30px;
}

.section3{
    padding:5%;
    background-color: whitesmoke;
}
.collection{
    display: flex;
    padding: 5% 0;
    gap: 5%;
}
.collection_img{
    width: 40%;
}
.content{
    width: 60%;
}
.collection_image{
    width: 40%;
    box-shadow: 10px 10px 20px gray;
}
.collection_image img{
    width: 100%;
    height: 100%;
}
.collection_images{
    display: flex;
    gap: 5%;
    align-items: center;
}


.left{
    background-color: steelblue;
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left h1{
    color: white;
    font-size: 40px;
    line-height: 96px;
    font-weight: 400;
}
.left h2{
    color: pink;
    font-size: 40px;
    font-weight: 400;

}

.section5{
    padding: 55px;
    text-align: center;
}
.services{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;
    padding: 30px;
}
.service{
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px whitesmoke;
    margin-bottom: 10px;
}
.service p{
    color: gray;
    line-height:15px ;
    letter-spacing: 2px;
    font-size: 10px;
}
.service h3{
    line-height:50px ;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
}


.section6{
    height: 70vh;
    background-image: url(b6.jpg);
    background-size:100% auto;
    background-position: center;
    padding: 65px;
}
.section6 h1{
    text-align: right;
}
.clients{
    display: flex;
    justify-content: space-between;
    padding: 50px auto;
    margin-top: 100px;
}
.client{
    background-color: rgba(245, 245, 245, 60%);
    padding: 25px;
    text-align: center;
    width: 40%;
    position: relative;
}
.client h3{
    margin-top: 25px;
}
.client img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top:-50px ;
    right: 50px;
}
.client p{
    color: red;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.icons{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20PX;
    color: gray;
}

